# Read in File, Data Loading

In [1]:
folder_dir = '/Users/KK/Documents/python_for_dataanalysis/Chapter_6'
file_name = 'read_in_txt.txt'

#f = open(folder_dir + file_name, 'r')
f = open(file_name, 'r')
print(f)

<_io.TextIOWrapper name='read_in_txt.txt' mode='r' encoding='UTF-8'>

In [38]:
list(open(file_name, 'r'))

['hello world\n', 'this is su\n', 'this is the third line of the file\n']

In [15]:
f = open(file_name, 'r')
print(f.read())

hello world
this is su
this is the third line of the file

In [19]:
f = open(file_name, 'r')
f.readline()

'hello world\n'

In [17]:
print(f.read())

In [21]:
f = open(file_name, 'r')
for line in f:
    print(line)

hello world

this is su

this is the third line of the file

In [22]:
with open(file_name, 'r') as f:
    print(f.readline())

hello world

In [3]:
with open(file_name, 'r') as f:
    print(f.readlines())

['hello world\n', 'this is su\n', 'this is the third line of the file\n']

In [4]:
with open(file_name, 'r') as f:
    line = f.readlines()
    print(line)

['hello world\n', 'this is su\n', 'this is the third line of the file\n']

In [23]:
with open(file_name, 'r') as f:
    for line in f:
        print(line)

hello world

this is su

this is the third line of the file

In [34]:
data_dir = 'cohort_challenge.csv'
import pandas as pd

df = pd.read_csv(data_dir, sep = ',')
df.head(5)

,Date,Game,Network,Country,OS Name,Days after Install,Users,Cohort Size,FTD,Revenue
0,7/1/16,Awesome Game,Network 1s,us,iOS,0,21.0,21.0,NaN,NaN
1,7/1/16,Awesome Game,Network 1s,us,iOS,0,2.0,2.0,NaN,NaN
2,7/1/16,Awesome Game,Network 1s,us,iOS,0,2.0,2.0,NaN,NaN
3,7/1/16,Awesome Game,Network 1s,us,iOS,0,1.0,1.0,NaN,NaN
4,7/1/16,Awesome Game,Network 1s,us,iOS,0,1.0,1.0,NaN,NaN

In [35]:
data_dir2 = 'cohort_challenge_no_header.csv'
df2 = pd.read_csv(data_dir2, sep = ',', names = ['mDate',
 'mGame',
 'mNetwork',
 'mCountry',
 'mOS Name',
 'mDays after Install',
 'mUsers',
 'Cohort Size',
 'mFTD',
 'mRevenue'])
df2.head(5)

,mDate,mGame,mNetwork,mCountry,mOS Name,mDays after Install,mUsers,Cohort Size,mFTD,mRevenue
0,7/1/16,Awesome Game,Network 1s,us,iOS,0,21,21,NaN,NaN
1,7/1/16,Awesome Game,Network 1s,us,iOS,0,2,2,NaN,NaN
2,7/1/16,Awesome Game,Network 1s,us,iOS,0,2,2,NaN,NaN
3,7/1/16,Awesome Game,Network 1s,us,iOS,0,1,1,NaN,NaN
4,7/1/16,Awesome Game,Network 1s,us,iOS,0,1,1,NaN,NaN

In [47]:
df2.head(5)

,mDate,mGame,mNetwork,mCountry,mOS Name,mDays after Install,mUsers,Cohort Size,mFTD,mRevenue
0,7/1/16,Awesome Game,Network 1s,us,iOS,0,21,21,NaN,NaN
1,7/1/16,Awesome Game,Network 1s,us,iOS,0,2,2,NaN,NaN
2,7/1/16,Awesome Game,Network 1s,us,iOS,0,2,2,NaN,NaN
3,7/1/16,Awesome Game,Network 1s,us,iOS,0,1,1,NaN,NaN
4,7/1/16,Awesome Game,Network 1s,us,iOS,0,1,1,NaN,NaN

In [48]:
pd.isnull(df2.head(5))

,mDate,mGame,mNetwork,mCountry,mOS Name,mDays after Install,mUsers,Cohort Size,mFTD,mRevenue
0,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,True,True

## My own proactice based on read and df manipulation from previous chapter

In [49]:
df.head(5)

,Date,Game,Network,Country,OS Name,Days after Install,Users,Cohort Size,FTD,Revenue
0,7/1/16,Awesome Game,Network 1s,us,iOS,0,21.0,21.0,NaN,NaN
1,7/1/16,Awesome Game,Network 1s,us,iOS,0,2.0,2.0,NaN,NaN
2,7/1/16,Awesome Game,Network 1s,us,iOS,0,2.0,2.0,NaN,NaN
3,7/1/16,Awesome Game,Network 1s,us,iOS,0,1.0,1.0,NaN,NaN
4,7/1/16,Awesome Game,Network 1s,us,iOS,0,1.0,1.0,NaN,NaN

In [60]:
#Retrieve cohort size = 21, Data = 7/1/16, network = network 1s
df_special_cohort = df[(df['Date'] == '7/1/16') & (df['Network'] == 'Network 1s') & (df['Cohort Size']==21)]

In [61]:
df_special_cohort

,Date,Game,Network,Country,OS Name,Days after Install,Users,Cohort Size,FTD,Revenue
0,7/1/16,Awesome Game,Network 1s,us,iOS,0,21.0,21.0,NaN,NaN
25035,7/1/16,Awesome Game,Network 1s,us,iOS,1,9.0,21.0,NaN,NaN
50012,7/1/16,Awesome Game,Network 1s,us,iOS,2,7.0,21.0,NaN,NaN
74988,7/1/16,Awesome Game,Network 1s,us,iOS,3,5.0,21.0,NaN,NaN
99964,7/1/16,Awesome Game,Network 1s,us,iOS,4,6.0,21.0,NaN,NaN
124941,7/1/16,Awesome Game,Network 1s,us,iOS,5,3.0,21.0,NaN,NaN
149917,7/1/16,Awesome Game,Network 1s,us,iOS,6,6.0,21.0,NaN,NaN
174893,7/1/16,Awesome Game,Network 1s,us,iOS,7,3.0,21.0,NaN,NaN
199869,7/1/16,Awesome Game,Network 1s,us,iOS,8,4.0,21.0,NaN,NaN
224845,7/1/16,Awesome Game,Network 1s,us,iOS,9,3.0,21.0,NaN,NaN
249821,7/1/16,Awesome Game,Network 1s,us,iOS,10,2.0,21.0,NaN,NaN
274797,7/1/16,Awesome Game,Network 1s,us,iOS,11,2.0,21.0,NaN,NaN
299774,7/1/16,Awesome Game,Network 1s,us,iOS,12,NaN,21.0,NaN,NaN
324750,7/1/16,Awesome Game,Network 1s,us,iOS,13,1.0,21.0,NaN,NaN
349726,7/1/16,Awesome Game,Network 1s,us,iOS,14,1.0,21.0,NaN,NaN
374703,7/1/16,Awesome Game,Network 1s,us,iOS,15,1.0,21.0,NaN,NaN
399680,7/1/16,Awesome Game,Network 1s,us,iOS,16,1.0,21.0,NaN,NaN
424656,7/1/16,Awesome Game,Network 1s,us,iOS,17,2.0,21.0,NaN,NaN
449633,7/1/16,Awesome Game,Network 1s,us,iOS,18,NaN,21.0,NaN,NaN
474609,7/1/16,Awesome Game,Network 1s,us,iOS,19,2.0,21.0,NaN,NaN
499585,7/1/16,Awesome Game,Network 1s,us,iOS,20,4.0,21.0,NaN,NaN
524561,7/1/16,Awesome Game,Network 1s,us,iOS,21,1.0,21.0,NaN,NaN
549537,7/1/16,Awesome Game,Network 1s,us,iOS,22,2.0,21.0,NaN,NaN
574514,7/1/16,Awesome Game,Network 1s,us,iOS,23,2.0,21.0,NaN,NaN
599490,7/1/16,Awesome Game,Network 1s,us,iOS,24,1.0,21.0,NaN,NaN
624466,7/1/16,Awesome Game,Network 1s,us,iOS,25,2.0,21.0,NaN,NaN
649442,7/1/16,Awesome Game,Network 1s,us,iOS,26,3.0,21.0,NaN,NaN
674418,7/1/16,Awesome Game,Network 1s,us,iOS,27,4.0,21.0,NaN,NaN
699394,7/1/16,Awesome Game,Network 1s,us,iOS,28,1.0,21.0,NaN,NaN
724371,7/1/16,Awesome Game,Network 1s,us,iOS,29,2.0,21.0,NaN,NaN
749347,7/1/16,Awesome Game,Network 1s,us,iOS,30,3.0,21.0,NaN,NaN

In [68]:
df_special_cohort.index = range(len(df_special_cohort.index))

In [69]:
df_special_cohort.head(10)

,Date,Game,Network,Country,OS Name,Days after Install,Users,Cohort Size,FTD,Revenue
0,7/1/16,Awesome Game,Network 1s,us,iOS,0,21.0,21.0,NaN,NaN
1,7/1/16,Awesome Game,Network 1s,us,iOS,1,9.0,21.0,NaN,NaN
2,7/1/16,Awesome Game,Network 1s,us,iOS,2,7.0,21.0,NaN,NaN
3,7/1/16,Awesome Game,Network 1s,us,iOS,3,5.0,21.0,NaN,NaN
4,7/1/16,Awesome Game,Network 1s,us,iOS,4,6.0,21.0,NaN,NaN
5,7/1/16,Awesome Game,Network 1s,us,iOS,5,3.0,21.0,NaN,NaN
6,7/1/16,Awesome Game,Network 1s,us,iOS,6,6.0,21.0,NaN,NaN
7,7/1/16,Awesome Game,Network 1s,us,iOS,7,3.0,21.0,NaN,NaN
8,7/1/16,Awesome Game,Network 1s,us,iOS,8,4.0,21.0,NaN,NaN
9,7/1/16,Awesome Game,Network 1s,us,iOS,9,3.0,21.0,NaN,NaN

In [75]:
df_special_cohort.index.name = 'Dummy index name'
df_special_cohort.index.name

'Dummy index name'

In [78]:
df_special_cohort.columns.name = 'Dummy column name'
df_special_cohort.columns.name

'Dummy column name'

In [79]:
df_special_cohort.head(10)

Dummy column name,Date,Game,Network,Country,OS Name,Days after Install,Users,Cohort Size,FTD,Revenue
Dummy index name,,,,,,,,,,
0,7/1/16,Awesome Game,Network 1s,us,iOS,0,21.0,21.0,NaN,NaN
1,7/1/16,Awesome Game,Network 1s,us,iOS,1,9.0,21.0,NaN,NaN
2,7/1/16,Awesome Game,Network 1s,us,iOS,2,7.0,21.0,NaN,NaN
3,7/1/16,Awesome Game,Network 1s,us,iOS,3,5.0,21.0,NaN,NaN
4,7/1/16,Awesome Game,Network 1s,us,iOS,4,6.0,21.0,NaN,NaN
5,7/1/16,Awesome Game,Network 1s,us,iOS,5,3.0,21.0,NaN,NaN
6,7/1/16,Awesome Game,Network 1s,us,iOS,6,6.0,21.0,NaN,NaN
7,7/1/16,Awesome Game,Network 1s,us,iOS,7,3.0,21.0,NaN,NaN
8,7/1/16,Awesome Game,Network 1s,us,iOS,8,4.0,21.0,NaN,NaN
9,7/1/16,Awesome Game,Network 1s,us,iOS,9,3.0,21.0,NaN,NaN

In [83]:
#pick a subset of data
df_special_cohort.iloc[0:5, [0,2,5,6]]

Dummy column name    Date     Network  Days after Install  Users
Dummy index name
0                  7/1/16  Network 1s                   0   21.0
1                  7/1/16  Network 1s                   1    9.0
2                  7/1/16  Network 1s                   2    7.0
3                  7/1/16  Network 1s                   3    5.0
4                  7/1/16  Network 1s                   4    6.0

In [84]:
df_special_cohort.iloc[0:5, 1:]

Dummy column name,Game,Network,Country,OS Name,Days after Install,Users,Cohort Size,FTD,Revenue
Dummy index name,,,,,,,,,
0,Awesome Game,Network 1s,us,iOS,0,21.0,21.0,NaN,NaN
1,Awesome Game,Network 1s,us,iOS,1,9.0,21.0,NaN,NaN
2,Awesome Game,Network 1s,us,iOS,2,7.0,21.0,NaN,NaN
3,Awesome Game,Network 1s,us,iOS,3,5.0,21.0,NaN,NaN
4,Awesome Game,Network 1s,us,iOS,4,6.0,21.0,NaN,NaN

In [89]:
del df_special_cohort.index.name
del df_special_cohort.columns.name
df_special_cohort

,Date,Game,Network,Country,OS Name,Days after Install,Users,Cohort Size,FTD,Revenue
0,7/1/16,Awesome Game,Network 1s,us,iOS,0,21.0,21.0,NaN,NaN
1,7/1/16,Awesome Game,Network 1s,us,iOS,1,9.0,21.0,NaN,NaN
2,7/1/16,Awesome Game,Network 1s,us,iOS,2,7.0,21.0,NaN,NaN
3,7/1/16,Awesome Game,Network 1s,us,iOS,3,5.0,21.0,NaN,NaN
4,7/1/16,Awesome Game,Network 1s,us,iOS,4,6.0,21.0,NaN,NaN
5,7/1/16,Awesome Game,Network 1s,us,iOS,5,3.0,21.0,NaN,NaN
6,7/1/16,Awesome Game,Network 1s,us,iOS,6,6.0,21.0,NaN,NaN
7,7/1/16,Awesome Game,Network 1s,us,iOS,7,3.0,21.0,NaN,NaN
8,7/1/16,Awesome Game,Network 1s,us,iOS,8,4.0,21.0,NaN,NaN
9,7/1/16,Awesome Game,Network 1s,us,iOS,9,3.0,21.0,NaN,NaN
10,7/1/16,Awesome Game,Network 1s,us,iOS,10,2.0,21.0,NaN,NaN
11,7/1/16,Awesome Game,Network 1s,us,iOS,11,2.0,21.0,NaN,NaN
12,7/1/16,Awesome Game,Network 1s,us,iOS,12,NaN,21.0,NaN,NaN
13,7/1/16,Awesome Game,Network 1s,us,iOS,13,1.0,21.0,NaN,NaN
14,7/1/16,Awesome Game,Network 1s,us,iOS,14,1.0,21.0,NaN,NaN
15,7/1/16,Awesome Game,Network 1s,us,iOS,15,1.0,21.0,NaN,NaN
16,7/1/16,Awesome Game,Network 1s,us,iOS,16,1.0,21.0,NaN,NaN
17,7/1/16,Awesome Game,Network 1s,us,iOS,17,2.0,21.0,NaN,NaN
18,7/1/16,Awesome Game,Network 1s,us,iOS,18,NaN,21.0,NaN,NaN
19,7/1/16,Awesome Game,Network 1s,us,iOS,19,2.0,21.0,NaN,NaN
20,7/1/16,Awesome Game,Network 1s,us,iOS,20,4.0,21.0,NaN,NaN
21,7/1/16,Awesome Game,Network 1s,us,iOS,21,1.0,21.0,NaN,NaN
22,7/1/16,Awesome Game,Network 1s,us,iOS,22,2.0,21.0,NaN,NaN
23,7/1/16,Awesome Game,Network 1s,us,iOS,23,2.0,21.0,NaN,NaN
24,7/1/16,Awesome Game,Network 1s,us,iOS,24,1.0,21.0,NaN,NaN
25,7/1/16,Awesome Game,Network 1s,us,iOS,25,2.0,21.0,NaN,NaN
26,7/1/16,Awesome Game,Network 1s,us,iOS,26,3.0,21.0,NaN,NaN
27,7/1/16,Awesome Game,Network 1s,us,iOS,27,4.0,21.0,NaN,NaN
28,7/1/16,Awesome Game,Network 1s,us,iOS,28,1.0,21.0,NaN,NaN
29,7/1/16,Awesome Game,Network 1s,us,iOS,29,2.0,21.0,NaN,NaN
30,7/1/16,Awesome Game,Network 1s,us,iOS,30,3.0,21.0,NaN,NaN